body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #707274;
}
.content {
    max-width: 960px;
    margin: 0 auto;
}
a:hover{
    text-decoration: underline;
}
header {
    background-image:url('../pictures/horizon.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #AC7F00;
    height: 400px;
    margin-bottom: 0;
}
header h1{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    text-align: center;
}
header a{
    text-decoration: none;
    display: block;
    float: right;
    padding-right: 10px;
    color: #AC7F00;
}
.info {
    float: left;
    width: 70%;
    background: white;
    padding-right: 20px;
    text-align: center;
}
section {
    background: white;
    margin: 0;
    min-width: 800px;
    height: 400px;

}
section h2{
    margin-top: 0;
    padding: 0;
}
.quote {
    border: 1px solid #D0BFA9;
    text-align: center;
    width: 300px;
    margin-left: 190px;
}
h3 {
    margin-top: 0;
}
section aside {
    width: 25%;
    float: right;
    height: 400px;
    border-left: 1px solid #d0bfa9;
    margin-bottom: 0;
}
footer {
    margin: 0;
    clear: both;
    height: 50px;
    background: #d0bFA9;
}
aside li {
    list-style: none;
    margin-bottom: 0;
}
li a{
    text-decoration: none;
    color: #d0bfa9;
}
footer {
    margin: 0;
    text-align: center;
}
footer p {
    font-size: 10px;
    margin: 0;
    padding-top: 20px;
}